:root {
    --color: skyblue;
    --lineColor: hotpink;
    --fontColor: #bbb;
    --bgColor1: #222;
    --bgColor2: #444;
    --yearBgColor: #333;
    --breakpoint: 700px;
  }

  .about-container{
    background-color: #000;
  }
 
  

.about-me {
    width: 100%;
    z-index: 50;

    display: flex;
    color: #fff;
    padding: 30px;
    justify-content: space-around;
}

.left {
    font-size: 5rem;
    font-weight: 900;
    padding: 30px;
    display: flex;
    flex-direction: column;
}


.right {
    padding: 20px;
    margin-bottom: 100px;
    width: 60%;
    height: auto;
    font-size: 1.4rem;
}

.right h2 {
    margin-bottom: 30px;
}





 
  /* Timeline Styles */
  .timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
    color: #fff;
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid var(--lineColor);
    right: 40px;
    top: 0;
  }
  
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline {
      padding: 2rem;
    }
    .timeline:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
  
  /* Timeline Item Styles */
  .timeline__item {
    padding: 1rem;
    border: 2px solid var(--lineColor);
    border-image: linear-gradient(to right, var(--color) 0%, var(--lineColor) 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
  }
  
  .timeline__item:after,
  .timeline__item:before {
    content: '';
    position: absolute;
  }
  
  .timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: var(--lineColor) var(--lineColor) transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline__item {
      width: 44%;
      margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, var(--lineColor) 0%, var(--color) 100%);
      border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
      right: auto;
      left: -10px;
      border-color: transparent transparent var(--lineColor) var(--lineColor);
    }
   
  }
  
  /* Year Styles */
  .timeline__item--year {
    text-align: center;
    /* max-width: 150px; */
    width: fit-content;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: var(--yearBgColor);
    line-height: 1;
    border-image: none;
    padding: .5rem 1rem 1rem;
  }
  
  .timeline__item--year:before {
    display: none;
  }
  
  @media screen and (min-width: var(--breakpoint)) {
    .timeline__item--year {
      text-align: center;
      margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
      display: none;
    }
  }
  
  /* Additional Styles */
  .timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }
  
  .timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: .5rem 0 0;
  }

  .button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
  
  
  @media screen and (max-width:1120px ) {
    .about-me {
        display: block;
        height: auto;
    }
    .right,.left{
        width: 100%;
    }
  }