.path{
  position: fixed;
  bottom: 30%;
  right: 0;
}
.path ul{
  display: block;
  width: fit-content;
  background: #000;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}

.path a{
  color: #fff;
}

.hidden{
  display: none;
}

