.projects-cont{
    height: 100vh;
    background: #1e1427;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-cont p{
    color: red;
}

.active{
    display: block;
}

